.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: black;
  font-family: 'Megrim', cursive;
  height: 65px;
  z-index: 10;
}

.nav {
  width: 100%;
}

.menu {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}

.item {
  padding: 4px 20px;
  width: 25%;
  text-align: center;
  position: relative;
}

.link-section {
  text-decoration: none;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.item--check {
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #F2015F;
}

.words {
  display: block;
}

.icon-menu {
  display: none;
}/* Yaku */.link {
  outline: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link--word {
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
}

.link--word span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}

.link--word:hover span {
  color: white;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

.link--word span:nth-child(4),.link--word:hover span:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.link--word span:nth-child(3),.link--word:hover span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.link--word span:nth-child(2),.link--word:hover span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.link--word span:first-child,.link--word:hover span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.container--sect1,.container--sect2,.container--sect4 {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100vh;
}

.container--sect3 {
  height: 100%;
  padding-top: 50px;
}

.name--index {
  font-family: 'Podkova', serif;
  color: #F2015F;
  position: absolute;
}

.container--sect2,.container--sect3,.container--sect4 {
  background-color: black;
}

.profile--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #F2015F;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 50px;
  margin-top: 0;
}

.container--img {
  width: 60%;
  margin: auto;
  padding-top: 50px;
}

.img--profile {
  width: 100%;
  border-radius: 16px;
  border: 2px solid #F2015F;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.img--profile:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.container--text-profile {
  width: 75%;
  margin: auto;
}

.text--profile {
  color: #F2015F;
  text-align: justify;
  font-family: 'Hind', sans-serif;
}

.container--title-skills {
  margin-bottom: 50px;
}

.skills--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #F2015F;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.subtitle-skills {
  text-align: center;
}

.text--skills {
  color: #F2015F;
  font-family: 'Hind', sans-serif;
  margin: 2px;
  text-transform: uppercase;
}

.container--links-skills {
  margin: auto;
  width: 80%;
  border: 1px solid #F2015F;
  margin-bottom: 35px;
  padding: 10px;
  position: relative;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.container--links-skills:hover {
  background-color: #3D0018;
}

.title--link-skills {
  color: white;
  font-family: 'Hind', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 13px;
}

.link--skills {
  text-decoration: none;
  color: white;
  font-family: 'Hind', sans-serif;
  display: block;
  text-align: center;
}

.contact--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #F2015F;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 50px;
  padding-bottom: 90px;
  margin-top: 0;
}

.container--contact-icons {
  width: 80%;
  margin: auto;
}

.container--tlf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.icon-contact {
  color: #F2015F;
}

.contact-email {
  font-family: 'Hind', sans-serif;
  color: #F2015F;
  text-align: center;
}

.container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0 10px;
}

.icon-network {
  font-size: 30px;
  color: #F2015F;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#particles-js {
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
}

@media all and (min-width: 768px) {
  .link-section {
    font-size: 17px;
  }

  .container--img {
    width: 28%;
  }

  .container--text-profile {
    width: 45%;
  }
}

@media all and (min-width: 1024px) {
  .header {
    height: 58px;
  }

  .link-section {
    font-size: 19px;
  }
}

@media all and (max-width: 768px) {
  .words {
    display: none;
  }

  .icon-menu {
    display: block;
    margin-top: 44%;
  }
}

@media all and (max-width: 425px) {
  .header {
    height: 40px;
  }

  .icon-menu {
    font-size: 14px;
  }

  .container--img {
    width: 35%;
    padding-top: 0px;
  }

  .text--profile {
    font-size: 13px;
  }
}

/*# sourceMappingURL=main.css.map */
