@import 'core/variables';
@import 'layout/header';
@import 'layout/main-index';
@import 'layout/section-index';
@import 'layout/section-works';
@import 'layout/section-contact';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#particles-js {
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
}
