.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  //font-family: 'Kirang Haerang', cursive;
  font-family: 'Megrim', cursive;
  height: 65px;
  z-index: 12;
}

.nav {
  width: 100%;
}

.menu {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}

.item {
  padding: 4px 20px;
  width: 25%;
  text-align: center;
  position: relative;

}

.link-section {
  text-decoration: none;
  color: $color2;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.item--check {
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: $color1;
}

.words{
  display: block;
}
.icon-menu{
  display: none;
}

/* Yaku */

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link--word {
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
}

.link--word span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}

.link--word:hover span {
  color: white;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

.link--word span:nth-child(4),
.link--word:hover span:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.link--word span:nth-child(3),
.link--word:hover span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.link--word span:nth-child(2),
.link--word:hover span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.link--word span:first-child,
.link--word:hover span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}



@media all and (min-width: 1024px) {
  .header{
    height: 58px;
  }
 .link-section{
   font-size: 17px;
 }
}

@media all and (min-width: 768px) {

  .link-section {
    font-size: 17px;
  }


}


@media all and (max-width: 768px) {

.words {
  display: none;

}

.icon-menu {
  display: block;
  margin-top: 44%;
}

}

@media all and (max-width: 425px){

    .header{
      height: 40px;
    }
    .icon-menu{
      font-size: 16px;
    }
}