
.container--sect1,
.container--sect2,
.container--sect4{
 transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100vh;
}

.container--sect3{
  height: 100%;
}

.name--index{
  font-family: 'Podkova', serif;
  color: #f2015f;
  position: absolute;
}
.container--sect2,
.container--sect3,
.container--sect4 {
  background-color: black;
}



#typed{
  width: 10px;
 white-space: pre;
 padding-top: 50px;
 display: inline-block;
 color: #F2015F;
 font-family: 'Podkova', serif;
 position: absolute;
}


#typedtext{
  margin-top: 50px;
}


.contact--index{
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #f2015f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 20px;
  padding-bottom: 90px;
  margin-top: 0;
}
.container--contact-icons{
  width: 80%;
  margin: auto;
}
.container--tlf{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}
.icon-contact{
   color: #f2015f;
   
}
.contact-date{
  font-family: 'Hind', sans-serif;
  color: #f2015f;
  text-align: center;
}

.container--links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0 10px;
}

.icon-network{
  font-size: 30px;
  color: #f2015f;
}


/*seccion perfil*/

.profile--index{
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #f2015f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 20px;
  margin-top:0;
}

.container--img{
  width: 60%;
  margin: auto;
  padding-top: 50px;
}

.img--profile{
  width: 100%;
  border-radius: 16px;
  border: 2px solid #f2015f;
  filter: grayscale(100%);
  transition: all 0.4s linear;
}

.img--profile:hover{
  filter: grayscale(0%);
}

.container--text-profile{
  width: 75%;
  margin: auto;
}
.text--profile{
  color: #f2015f;
  text-align: justify;
  font-family: 'Hind', sans-serif;
}

@media all and (min-width: 768px) {
  .container--img{
    width: 28%;
  }
  .container--text-profile{
    width: 45%;
  }
}

@media all and (max-width: 425px){

  .container--img{
    width: 35%;
    padding-top: 0px;
  }
  .text--profile{
    font-size: 13px;
  }
}

/*seccion skills*/

.container--sect3{
  padding-top: 20px;
}

.container--title-skills{
  margin-bottom: 50px;
}


.skills--index{
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #f2015f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin:0;
}

.subtitle-skills {
  text-align: center;
}

.text--skills {
  color: #f2015f;
  font-family: 'Hind', sans-serif;
  margin: 2px;
  text-transform: uppercase;
}

.container--links-skills{
   
    margin: auto;
    width: 80%;
    border: 1px solid #f2015f;
    margin-bottom: 35px;
    padding: 10px;
   
}

.title--link-skills{
  color: white;
  font-family: 'Hind', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 13px;
}
.link--skills{
  text-decoration: none;
    color: white;
    font-family: 'Hind', sans-serif;
      display: block;
    text-align: center;
}