
.container--sect1,
.container--sect2,
.container--sect3,
.container--sect4{
 transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100vh;
}


.name--index{
  font-family: 'Podkova', serif;
  color: #f2015f;
  position: absolute;
}
.container--sect2,
.container--sect3,
.container--sect4 {
  background-color: black;
}



#typed{
  width: 10px;
 white-space: pre;
 padding-top: 50px;
 display: inline-block;
 color: #F2015F;
 font-family: 'Podkova', serif;
 position: absolute;
}


#typedtext{
  margin-top: 50px;
}


.contact--index{
  font-family: 'Podkova', serif;
  color: #f2015f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.container--contact-icons{
  width: 80%;
  margin: auto;
}
.container--tlf{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}
.icon-contact{
   color: #f2015f;
   
}
.contact-date{
  font-family: 'Hind', sans-serif;
  color: #f2015f;
  text-align: center;
}

.container--links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0 10px;
}

.icon-network{
  font-size: 30px;
  color: #f2015f;
}


/*seccion perfil*/

.container--img{
  width: 60%;
  margin: auto;
  padding-top: 50px;
}

.img--profile{
  width: 100%;
  border-radius: 16px;
  border: 2px solid #f2015f;
  filter: grayscale(100%);
  transition: all 0.4s linear;
}

.img--profile:hover{
  filter: grayscale(0%);
}

.container--text-profile{
  width: 75%;
  margin: auto;
}
.text--profile{
  color: #f2015f;
  text-align: justify;
  font-family: 'Hind', sans-serif;
}

@media all and (min-width: 768px) {
  .container--img{
    width: 28%;
  }
  .container--text-profile{
    width: 45%;
  }
}

/*seccion skills*/

.container--text-skills{
  padding-top: 50px;
}

.title-skills{
  color: #f2015f;
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 24px;
}