.contact--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: #f2015f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 50px;
  padding-bottom: 90px;
  margin-top: 0;
}

.container--contact-icons {
  width: 80%;
  margin: auto;
}

.container--tlf {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}

.icon-contact {
  color: #f2015f;
}

.contact-email {
  font-family: 'Hind', sans-serif;
  color: #f2015f;
  text-align: center;
}

.container--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0 10px;
}

.icon-network {
  font-size: 30px;
  color: #f2015f;
}