.container--sect3{
  opacity: 0;
}

.show{
  opacity: 1;
  transition: all linear 0.8s;
}
.container--title-skills {
  margin-bottom: 50px;
}

.skills--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: $color1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.subtitle-skills {
  text-align: center;
}

.text--skills {
  color: $color1;
  font-family: 'Hind', sans-serif;
  margin: 2px;
  text-transform: uppercase;
}

.container--links-skills {
  margin: auto;
  width: 80%;
  border: 1px solid $color1;
  margin-bottom: 35px;
  padding: 10px;
  position: relative;
  transition: all linear 0.5s;
}

.container--links-skills:hover{
  background-color: #3D0018;
} 


.title--link-skills {
  color: white;
  font-family: 'Hind', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 13px;
}

.link--skills {
  text-decoration: none;
  color: white;
  font-family: 'Hind', sans-serif;
  display: block;
  text-align: center;
}