


.container--sect4{
  opacity: 0;
}

.show{
  opacity: 1;
  transition: all linear 0.8s;
}

.contact--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: $color1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 50px;
  padding-bottom: 90px;
  margin-top: 0;
}

.container--contact-icons {
  width: 80%;
  margin: auto;
}

.container--tlf {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}

.icon-contact {
  color: $color1;
}

.contact-email {
  font-family: 'Hind', sans-serif;
  color: $color1;
  text-align: center;
}

.container--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0 10px;
}

.icon-network {
  font-size: 30px;
  color: $color1;
}


@media all and (min-width: 1024px) {

  .container--contact-icons {
    width: 50%;
  }

}

@media all and (min-width: 768px) {
  .contact-email{
    font-size: 21px;
  }
}