.container--sect3 {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: all linear 0.8s;
}

.container--title-works {
  margin-bottom: 50px;
}

.works--index {
  font-size: 37px;
  font-family: 'Megrim', cursive;
  color: $color1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.subtitle-works {
  text-align: center;
}

.text--works {
  color: $color1;
  font-family: 'Hind', sans-serif;
  margin: 2px;
  text-transform: uppercase;
}

.container--links-works {
  margin: auto;
  width: 80%;
  border: 1px solid $color1;
  margin-bottom: 35px;
  padding: 10px;
  position: relative;
  transition: all linear 0.5s;
}

.container--links-works:hover {
  background-color: #3D0018;
}

.title--link-works {
  color: white;
  font-family: 'Hind', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 13px;
}

.link--works {
  text-decoration: none;
  color: white;
  font-family: 'Hind', sans-serif;
  display: block;
  text-align: center;
}


@media all and (min-width: 1024px) {
  .text--works{
    font-size: 19px;
  }
  .title--link-works{
    font-size: 15px;
  }
}